In [1]:
#Numpy - Python library for creating N-dimensional arrays

In [2]:
#How to create Numpy arrays:
    #1.Transforming standard list
    #2.Built-in function
    #3.Generating random number

In [3]:
import numpy as np

In [4]:
#Creating a numpy array

In [5]:
#1. Directly transforming a python list
myList = [1, 2, 3]

In [6]:
type(myList)

list

In [7]:
myArr = np.array(myList)
myArr

array([1, 2, 3])

In [8]:
type(myArr)

numpy.ndarray

In [9]:
#Two dimensional array
my_matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
#Conversion to a numpy 2D array- i.e an array of 3 rows and 3 columns
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
#2.Using Built-in function to create numpy array
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.arange(0, 101, 20) #interval of twenty

array([  0,  20,  40,  60,  80, 100])

In [14]:
#Creating large arrays of ones and zeros
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [15]:
#To create a 2D array
np.zeros((3, 5)) # 3 indicate the number of rows. shape is defined by the number of rows first and the number of colums second

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [16]:
np.ones((4,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [17]:
np.linspace(0, 10, 3) #startNumber, stopNumber and number of evenly space numbers to be included

array([ 0.,  5., 10.])

In [18]:
#numpy identity metrics have the same rows and columns hence takes only one parameter
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [21]:
#Creating random distribution number
np.random.rand(1) #This will generate a random number between 0 and 1

array([0.46043761])

In [22]:
np.random.rand(5, 2) #Specifying the shape i.e 5 rows, 2 columns. Note all the number falls between 0 and 1

array([[0.75033808, 0.78881136],
       [0.27394125, 0.10588737],
       [0.59381061, 0.4266523 ],
       [0.84609867, 0.67126135],
       [0.20896116, 0.31942409]])

In [23]:
#Creating a standard normal distribution
# Returns sample from a standard normal distribution hence values close to zero are more likely to appear than values far from zero
np.random.randn(2, 3)

array([[ 0.20509801,  1.65933612, -0.60837117],
       [ 0.60833842, -0.60552441, -0.4483768 ]])

In [24]:
np.random.randint(0, 101, 5) #This generate 5 random intergers between 0 and 101. It will always generate whole numbers

array([14, 74, 70, 44, 52])

In [25]:
np.random.randint(0, 101, (4, 5)) #Returning a 4 by 5 array

array([[ 31,  40,  69,  97,  28],
       [ 73,  92,  83,  31,  52],
       [ 18,  22, 100,  67,  79],
       [ 33,   3,  55,  19,  98]])

In [26]:
#Seed is use to set a random state so that the result can be reproduced. Note: The result itself are still random. 
#You are choosing a seed number so that you get a particular set of random number
np.random.seed(42)
np.random.rand(4)

array([0.37454012, 0.95071431, 0.73199394, 0.59865848])

In [ ]:
#Attribute and meta calls that can be performed off an existing numpy array

In [47]:
arr = np.arange(0,25)

In [48]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [30]:
#Reshape
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [31]:
#Max - returns the maximum value in a shape
ranArr = np.random.randint(0, 101, 10)
ranArr

array([82, 86, 74, 74, 87, 99, 23,  2, 21, 52])

In [33]:
ranArr.max()

99

In [35]:
#Min - returns minimum value
ranArr.min()

2

In [36]:
#To know the location of the max and min number
ranArr.argmax()

5

In [37]:
ranArr.argmin()

7

In [38]:
#Calling the datatype of an array with dtype
ranArr.dtype

dtype('int32')

In [49]:
#Shape is also an attribute of an array
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [50]:
arr.shape

(25,)

In [53]:
arr = arr.reshape(5,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [52]:
arr.shape

(5, 5)

In [ ]:
#INDEXING AND SELECTION

In [54]:
#Selecting value from an array

In [56]:
arr = np.arange(0, 11)

In [57]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [58]:
arr[1:5] #select from the second item until the fourth item i.e excluding the fifth.

array([1, 2, 3, 4])

In [59]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [60]:
arr[:5] #Also the same as above

array([0, 1, 2, 3, 4])

In [61]:
arr[5:] #Starting at index 5 till the end

array([ 5,  6,  7,  8,  9, 10])

In [ ]:
#Broadcasting

In [62]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [63]:
arr[0:5] = 100 #Numpy list/array can do this but it is impossible with normal python array

In [64]:
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [65]:
#Slicing

In [66]:
arr = np.arange(0, 11)

In [67]:
slice_of_arr = arr[0:5]

In [68]:
slice_of_arr

array([0, 1, 2, 3, 4])

In [69]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [70]:
slice_of_arr[:] = 99 #Selecting everything and setting it to 99

In [71]:
slice_of_arr

array([99, 99, 99, 99, 99])

In [72]:
arr #The broacasting operation has affected the original array

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [73]:
#To prevent broadcasting from affecting the original array, explictly set a copy
arr_copy = arr.copy()

In [74]:
arr_copy[:] = 100

In [75]:
arr_copy #Now set to 100

array([100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [76]:
arr #Original array remain the same

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [77]:
#Indexing on 2D array

In [78]:
arr_2d = np.array([[5, 10, 15], [20, 25, 30], [35, 40, 45]])

In [79]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [80]:
arr_2d.shape

(3, 3)

In [81]:
arr_2d[1, 1] #grab the item at row one, column one

25

In [82]:
#Slicing
arr_2d[:2] #This will return row 0 and 1

array([[ 5, 10, 15],
       [20, 25, 30]])

In [83]:
arr_2d[:2, 1:] #This will grab from column 1 till the end

array([[10, 15],
       [25, 30]])

In [84]:
#Conditional selection
arr = np.arange(1, 11)

In [85]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [86]:
arr > 4 #check where array is greater than 4

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [90]:
bool_arr = arr > 4
bool_arr

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [91]:
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [92]:
arr[arr>4] # The above is better written as this

array([ 5,  6,  7,  8,  9, 10])

In [93]:
#Numpy Operations

In [94]:
#Arithmetics between array

In [95]:
arr = np.arange(0, 10)

In [96]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [98]:
arr + 5

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [99]:
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [100]:
arr / arr

C:\Users\User\AppData\Local\Temp\ipykernel_76496\3001117470.py:1: RuntimeWarning: invalid value encountered in divide
  arr / arr

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [ ]:
#Universal

In [101]:
np.sqrt(arr) #finding square root

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [102]:
np.log(arr)

C:\Users\User\AppData\Local\Temp\ipykernel_76496\3120950136.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(arr)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [103]:
arr.sum()

45

In [104]:
arr.mean()

4.5

In [105]:
arr.var() #variant

8.25

In [106]:
arr.std() #starndard deviation

2.8722813232690143

In [108]:
arr2d = np.arange(0, 25).reshape(5,5)

In [109]:
arr2d.shape

(5, 5)

In [112]:
arr2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [110]:
arr2d.sum()

300

In [111]:
arr2d.sum(axis=0) #perform the operation across the rows

array([50, 55, 60, 65, 70])

In [113]:
arr2d.sum(axis=1) #perform the operation across the columns

array([ 10,  35,  60,  85, 110])