In [2]:
#Testing Setup
import pandas

In [3]:
pandas.__version__

'1.5.3'

In [30]:
#DATA STRUCTURE

In [6]:
#String interpolation- a way to insert object into a string
print('My name is {}, my number is {}'.format('Wande', '10'))

My name is Wande, my number is 10

In [7]:
print('I am {name}, my position is {number}'.format(name='Wande', number='1'))

I am Wande, my position is 1

In [8]:
#Indexing a list
myList = ['a', 'b', 'c']

In [9]:
myList[2]

'c'

In [10]:
#Python support negative indexing
myList[-1] #grab the last item

'c'

In [11]:
#Changing item in a list
myList[0] = 'New'

In [12]:
myList

['New', 'b', 'c']

In [13]:
#Adding a new item to a list - APPEND
myList.append('d')

In [14]:
myList

['New', 'b', 'c', 'd']

In [15]:
#Nesting
myList = [1, 2, [100, 200]]

In [16]:
myList

[1, 2, [100, 200]]

In [17]:
#Grabing item from a nested list 
myList[2][1]

200

In [18]:
#DICTIONARY

In [19]:
d = {'key1': 'value1', 'key2': 'value2'}

In [21]:
d['key1']

'value1'

In [22]:
#Dictionaries are unordered
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [23]:
#BOOLEANS

In [24]:
# 0 is a falsy value while 1 is a truty value

In [25]:
#TUPLES - are like a list but they are defined using parenthesis instead of square braacket like in list 
t = (1, 2, 3)

In [27]:
#Why use tuples instead of a list? Tuples are immutable, meaning you cannot reassign the values.
#You use tuples to ensure a user cannot change anything inside of the sequence e.g

In [29]:
#SET - Is just like dictionary except that it does not have key-value pair
#It is just  a sequence of item i.e a unodered collection of unique items
#This means when you add multiple instances of an element inside of a set, it will reduce it to just the unique element

In [31]:
#LOGIC COMPARISM OPERATORS

In [32]:
(1 == 1) and ('a' == 'a')

True

In [34]:
(1 == 1) & ('a' == 'a')

True

In [35]:
(1 == 1) or ('a' == 'b')

True

In [36]:
(1 == '1') or ('a' == 'b')

False

In [37]:
#IF ELSE STATEMENT

In [39]:
if 1==1:
    print('Yea!')

Yea!

In [40]:
if 1==2:
    print('Yea!')
else:
    print('Nope')

Nope

In [41]:
if 1==2:
    print('Yea!')
elif 3==3:
    print('second condition true')
else:
    print('Nope')

second condition true

In [42]:
#FOR LOOP

In [43]:
seq = [1, 2, 3, 4, 5]

In [45]:
for element in seq:
    print(element)

1
2
3
4
5

In [47]:
for element in seq:
    print(element*element)

1
4
9
16
25

In [48]:
#WHILE LOOPS

In [5]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [6]:
#Range
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [8]:
#List comprehension

In [10]:
x = [1, 2, 3, 4, 5]
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [11]:
#Converting the for loop above to a list comprehenshion
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [1]:
#FUNCTION

In [12]:
def my_func(name):
    print('Hello '+name)

In [13]:
my_func('wande')

Hello wande

In [14]:
#Adding documentation string AKA docstring

def my_func(name):
    '''
    this print out the user name!
    '''
    print('Hello '+name)

In [16]:
my_func('wande')

Hello wande

In [17]:
#Return keywords allow you to save the output as a variable
def square(x):
    return x**2
result = square(2)

In [18]:
result

4

In [19]:
#LAMBDA EXPRESSION
#Use for writing anonymous function - when you want to use the function just one time and you dont want to rewrite the function

In [22]:
#Normal function example
def times_two(var):
    return var*2
times_two(10)

20

In [23]:
#Writting the above function with lambda expression
lambda var: var*2

In [24]:
#METHODS

In [25]:
st = 'Hello my name is Wande'

In [27]:
st.lower()

'hello my name is wande'

In [28]:
st.upper()

'HELLO MY NAME IS WANDE'

In [29]:
st.split()

['hello', 'my', 'name', 'is', 'wande']

In [30]:
#To split on a particular element
tweet = 'Hello #sports'

In [31]:
tweet.split('#')

['Hello ', 'sports']

In [32]:
#To split on a particular element and get the last element from the list
tweet.split('#')[-1]

'sports'

In [33]:
#Selecting from a dictionary
d = {'k1':'v1', 'k2':'v2' }

In [35]:
d.keys()

dict_keys(['k1', 'k2'])

In [36]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [40]:
#Remove element from a list with pop
myList = [1, 2, 3]

In [41]:
last = myList.pop()
last

3

In [44]:
#Remove item from a particular location
newList = [1, 2, 3]

In [45]:
first = newList.pop(0)
first

1

In [46]:
#Check if an item is inside of a list

In [47]:
'x' in [1, 2, 3]

False

In [48]:
1 in [1, 2, 3]

True

In [49]:
2 in newList

True